ToDo_Main/__pycache__/__init__.cpython-313.pyc
ToDo_Main/__pycache__/settings.cpython-313.pyc
ToDo_Main/__pycache__/urls.cpython-313.pyc
ToDo_Main/__pycache__/views.cpython-313.pyc
ToDo_Main/__pycache__/wsgi.cpython-313.pyc
templates/home-todo.html
templates/todo-html.zip
Ahmed SSH.cmd
chmod400.cmd
chmod400.ps1
Del Cache.cmd
env.cmd
restartserver.sh
RunServer.cmd
Update.cmd
update.sh
