<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Add CSRF token meta tag -->
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h2>To-Do List</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="todo-list" class="col-md-6 mb-3">
                        <h4>To-Do Tasks</h4>
                        <form id="todo-form" action="{% url 'add_task' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <input type="text" name="task_title" class="form-control" placeholder="Add a new task" aria-label="New task" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" id="button-addon2">Add</button>
                                </div>
                            </div>
                        </form>
                        <!-- To-Do items will be appended here -->
                        {% for task in tasks %}
                        <div class="todo-item">
                            <span>{{task}}</span>
                            <span class="text-muted">{{task.updated_at}}</span>
                            <div>
                                <a href="#" class="edit-task" data-url="{% url 'edit_task' task.id %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <form action="{% url 'check_task' task.id %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                                        <i class="fas fa-check text-success"></i>
                                    </button>
                                </form>
                                <form action="{% url 'delete_task' task.id %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                                        <i class="fas fa-trash text-danger"></i>
                                    </button>
                                </form>                                
                            </div>
                        </div>
                        {% endfor %}
                   </div>
                    <div id="completed-list" class="col-md-6 mb-3">
                        <h4>Completed Tasks</h4>
                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if completed_tasks %}
                        <form id="clear-completed-form" action="{% url 'clear_completed_tasks' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger mb-3">Clear Completed Tasks</button>
                        </form>
                        {% endif %}
                        <!-- Completed items will be appended here -->
                        {% for completed_task in completed_tasks %}
                        <div class="todo-item">
                            <span>{{completed_task}}</span>
                            <span class="text-muted">{{completed_task.updated_at}}</span>
                            <div>
                                <form action="{% url 'uncheck_task' completed_task.id %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                                        <i class="fas fa-undo text-info"></i>
                                    </button>
                                </form>
                                <form action="{% url 'delete_task' completed_task.id %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                                        <i class="fas fa-trash text-danger"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
